*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}

body{

background:#f3f4f6;

}

/* ======================
SIDEBAR
====================== */

.sidebar{

position:fixed;

top:0;
left:0;

width:250px;
height:100vh;

background:#1e293b;

color:white;

padding:20px;

display:flex;
flex-direction:column;

overflow-y:auto;

z-index:1000;

}

.sidebar h2{

margin-bottom:30px;
text-align:center;

}

.menu{

display:flex;
flex-direction:column;

}

.menu-item{

padding:15px;

margin-bottom:10px;

border-radius:10px;

cursor:pointer;

transition:.2s;

}

.menu-item:hover{

background:#334155;

}

.active{

background:#334155;

}

.logout{

margin-top:auto;

padding:15px;

border-radius:10px;

cursor:pointer;

transition:.2s;

}

.logout:hover{

background:#dc2626;

}

/* ======================
LAYOUT
====================== */

.container-layout{

display:block;

}

.main{

margin-left:250px;

padding:30px;

min-height:100vh;

}

/* ======================
BOX
====================== */

.riwayat-box{

background:white;

padding:25px;

border-radius:20px;

box-shadow:
0 5px 10px rgba(
0,0,0,.1
);

}

.riwayat-box h1{

margin-bottom:25px;

}

/* ======================
TABLE
====================== */

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

th{

background:#dbeafe;

}

th,
td{

padding:15px;

text-align:center;

border-bottom:1px solid #ddd;

}

tbody tr:hover{

background:#f8fafc;

}

a{

text-decoration:none;

font-weight:bold;

color:#2563eb;

}

/* ======================
POPUP
====================== */

.popup{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(
0,0,0,.5
);

z-index:2000;

}

.popup-box{

width:700px;

background:white;

padding:25px;

border-radius:20px;

margin:50px auto;

box-shadow:
0 5px 10px rgba(
0,0,0,.1
);

}

.popup-box h2{

margin-bottom:20px;

}

/* ======================
BUTTON
====================== */

button{

padding:12px 20px;

border:none;

border-radius:10px;

cursor:pointer;

background:#2563eb;

color:white;

margin-right:10px;

}

button:hover{

opacity:.9;

}